.header {
    position: relative;
    background-color: $colorBackBlock;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        display: flex;
        align-items: center;
        gap: 41px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 41px;
    }
}

#burger {
    position: absolute;
    left: -9999999px;
    visibility: hidden;
    &:checked ~ .nav {
        right: 0;
    } 
}

.nav {
    box-shadow: 6px 4px 35px 0px #00000036;
    background: #FFFFFF;
    width: $widthBurgerMenu;
    top: 81px;
    right: -$widthBurgerMenu;
    position: absolute;
    padding: 32px;
    box-sizing: border-box;
    transition: right .3s;
    z-index: 1;
    &__ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    &__li_x {
        margin-left: 170px;
    }
    &__li_heading {
        margin-top: 8px;
    }
    &__menu_title {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        text-align: left;
        color: $colorTitleText;
    }
    &__menu_heading {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
        color: $colorSelectSite;
    }
    &__menu-item {
        margin-left: 22px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
        color: $colorText;
    }
   
   
}