@media (max-width: 1024px){

    .header{
        padding-left: 16px;
        padding-right: 16px;
    }

    .top{
        display: flex;
        justify-content: center;
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .top_image{
        max-width: 386px;
    }

    .brand{
        max-width: 311px;
    }

    .brand_title{
        font-size: 44px;
        font-weight: 900;
        line-height: 53px;
        letter-spacing: 0em;
        text-align: left;
    }

    .lux{
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }

    .offer{
        display: grid;
        grid-template-columns: repeat(3, 232px);
        gap: 19px;
        justify-content: center;
        padding-top: 65px;
        padding-bottom: 96px;
    }

    .image{
        width: 232px;
    }

    .offer_text{
        width: 232px;
        height: 167px;
    }

    .image_big{
        width: 734px;
    }

    .offer_text_big{
        width: 734px;
        height: 116px;
    }

    .items{
        display: grid;
        grid-template-columns: repeat(2, 360px);
        gap: 19px;
    }

    .item_image{
        max-width: 360px;
    }

    .info_section{
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .info_article{
        width: 360px;
    }

    .subscribe_section{
        background-image: url(img/photo_subscribe.svg);
        padding-top: 0;
        padding-bottom: 0;
        height: 448px;
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    .footer{
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
        justify-content: space-between;
        gap: 0;
    }

    @media (max-width: 767px){

        .header{
            max-width: 767px;

        }

        .person{
            display: none;
        }

        .basket_full{
            display: none;
        }

        .top{
            height: 363px;
        }

        .top_image{
            display: none;
        }

        .brand{
            margin-bottom: 150px;
            margin-top: 150px;
        }

        .brand_title{
            font-size: 38px;
            font-weight: 900;
            line-height: 46px;
        }

        .lux{
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
        }

        .rectangle{
            height: 80px;
        }

        .offer{
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            gap: 19px;
            padding-top: 65px;
            padding-bottom: 96px;
        }
    
        .image{
            width: 343px;
        }

        .offer_text{
            height: 247px;
            width: 343px;
        }
    
        .image_big{
            width: 343px;
            height: 111px;
        }

        .offer_text_big{
            width: 343px;
            height: 111px;
        }

        .content{
            margin-left: 9px;
            margin-right: 9px;
        }

        .items{
            display: grid;
            grid-template-columns: repeat(1, 359px);
            gap: 19px;
        }

        .item_title{
            margin-left: 9px;
        }

        .text{
            margin-left: 9px;
        }

        .price{
            margin-left: 9px;
        }

        .subscribe_section{
            max-width: 767;
            height: 550px;
            background-image: url(img/photo_subscribe2.svg);
        }

        .subscribe_text{
            width: auto;
            max-width: 360px;
        }

        .subscribe_heading{
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: center;
        }

        .input{
            padding-right: 0;
        }

        .footer{
            display: flex;
            flex-direction: column-reverse;
            gap: 40px;
            padding-top: 43px;
            padding-bottom: 9px;
        }
    }
}