@import 'vars';
@import 'mixins';
@import 'footerStyle';

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.header {
    background-color: $colorBackBlock;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        display: flex;
        align-items: center;
        gap: 41px;
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 41px;
    }
}

.top {
    &-head {
        background-color: #F8F3F4;
        padding-top: 60px;
        padding-bottom: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-head__heading {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color: $colorSelectSite;
    }
}

.breadcrumbs__link {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #636363;
}

.breadcrumbs__link_site {
    font-weight: 700;
    color: $colorSelectSite;
}

.slider {
    background-color: #F7F7F7;
    border: 1px solid #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__image {
        width: 597px;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 47px;
        height: 47px;
        background-color: #2A2A2A26;
    }

    &__button:hover path {
        fill: $colorSelectSite;
    }
}

.main-product {
    margin-left: ($widthSite - 1086px) / 2;
    margin-right: ($widthSite - 1086px) / 2;
    padding-bottom: 64px;
    border: 1px solid #EAEAEA;
    @include centerFlex();
    flex-direction: column;
    background-color: #FFFFFF;

    &__description {
        border-bottom: 1px solid #EAEAEA;
        width: 642px;
        padding: 64px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        margin-bottom: 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: $colorSelectSite;
    }

    &__heading {
        margin-top: 12px;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: $colorText;
    }

    &__text {
        margin-top: 45px;
        margin-bottom: 32px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        color: $colorText;
    }

    &__price {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color: $colorSelectSite;
    }

    &__choice-box {
        padding-top: 64px;
        padding-bottom: 48px;
        display: flex;
        flex-direction: row;
        gap: 22px;
    }

    &__parameter {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    &__parameter-heading {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: $colorText;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 22px;
        width: 212px;
        height: 49px;
        background-color: #FFFFFF;
        border-color: $colorSelectSite;
        color: $colorSelectSite;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }

    &__button:hover {
        color: white;
        background-color: $colorSelectSite;
    }

    &__button:hover path {
        fill: white;
    }
}





.product-box {
    @include centerFlex();
    gap: $gapGrid;
}

.product {
    width: $thirdSite;
    display: flex;
    flex-direction: column;

    &__image {
        width: 100%;
    }

    &__content {
        width: $thirdSite;
        padding: 24px 16px;
        background-color: #F8F8F8;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__name {
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: $colorTitleText;
    }

    &__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: $colorText;
    }

    &__price {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: $colorSelectSite;
    }
}