.subscribe_section {
  background-image: url(img/photo_subscribe.svg);
  padding-top: 97px;
  padding-bottom: 126px;
  padding-left: calc(50% - 573px);
  padding-right: calc(50% - 573px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 223px;
}

.subscribe_text {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #222224;
  width: 360px;
}

.subscribe_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.subscribe_fulltext {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  color: #222224;
}

.subscribe_heading {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #222224;
}

.subscribe_action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input {
  padding-top: 18px;
  padding-bottom: 17px;
  padding-left: 22px;
  padding-right: 84px;
  background: transparent url(img/Rounded_Rectangle.svg);
  border: none;
}

.subscribe_button {
  background: transparent url(img/button_rectangle.svg);
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 18px;
  padding-right: 19px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}

.subscribe_button:hover {
  filter: brightness(70%);
}

.footer {
  background: #222224;
  padding-top: 24px;
  padding-bottom: 23px;
  padding-left: calc(50% - 573px);
  padding-right: calc(50% - 573px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 600px;
}

.copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #FBFBFB;
}

.social_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.social_link:hover path {
  stroke: white;
  fill: #F16D7F;
}

.header {
  position: relative;
  background-color: #222;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 41px;
}

#burger {
  position: absolute;
  left: -9999999px;
  visibility: hidden;
}
#burger:checked ~ .nav {
  right: 0;
}

.nav {
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.2117647059);
  background: #FFFFFF;
  width: 232px;
  top: 81px;
  right: -232px;
  position: absolute;
  padding: 32px;
  box-sizing: border-box;
  transition: right 0.3s;
  z-index: 1;
}
.nav__ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.nav__li_x {
  margin-left: 170px;
}
.nav__li_heading {
  margin-top: 8px;
}
.nav__menu_title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  color: #000000;
}
.nav__menu_heading {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #F16D7F;
}
.nav__menu-item {
  margin-left: 22px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #5D5D5D;
}

/*.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}*/
.top-head {
  background-color: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-head__heading {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #F16D7F;
}

.slider {
  background-color: #F7F7F7;
  border: 1px solid #EAEAEA;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__image {
  width: 597px;
}
.slider__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.1490196078);
}
.slider__button:hover path {
  fill: #F16D7F;
}

.main-product {
  margin-left: 27px;
  margin-right: 27px;
  margin-bottom: 128px;
  padding-bottom: 64px;
  border: 1px solid #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
}
.main-product__description {
  border-bottom: 1px solid #EAEAEA;
  width: 642px;
  padding: 64px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-product__title {
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #F16D7F;
}
.main-product__heading {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #5D5D5D;
}
.main-product__text {
  margin-top: 45px;
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #5D5D5D;
}
.main-product__price {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #F16D7F;
}
.main-product__choice-box {
  padding-top: 64px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: row;
  gap: 22px;
}
.main-product__parameter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.main-product__parameter-heading {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #5D5D5D;
}
.main-product__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  width: 212px;
  height: 49px;
  background-color: #FFFFFF;
  border-color: #F16D7F;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.main-product__button:hover {
  color: white;
  background-color: #F16D7F;
}
.main-product__button:hover path {
  fill: white;
}

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.product {
  position: relative;
  width: 360px;
  display: flex;
  flex-direction: column;
}
.product__image {
  width: 100%;
}
.product__add_to_card_button {
  position: absolute;
  top: 31%;
  right: 31%;
  filter: opacity(0);
  border: 1px solid #FFFFFF;
  width: 140px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.product__add_to_card_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
.product__content {
  width: 370px;
  padding: 24px 16px;
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product__name {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.product__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #5D5D5D;
}
.product__price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #F16D7F;
}

.product:hover .product__image {
  filter: opacity(86%) brightness(20%);
}

.product:hover .product__add_to_card_button {
  filter: opacity(100%);
}

.product__add_to_card_button:hover {
  border-color: #F16D7F;
}

.product__add_to_card_button:hover path {
  fill: #F16D7F;
}

.product__add_to_card_button:hover .product__add_to_card_text {
  color: #F16D7F;
}

.slider {
  position: relative;
}

.main-product {
  width: 1086px;
  position: absolute;
  top: 935px;
}

.product-box {
  margin-top: 700px;
}

@media (max-width: 767px) {
  .top-head {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
.catalog-box {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  justify-content: center;
  gap: 30px;
  padding-bottom: 48px;
}

@media (max-width: 1024px) {
  .catalog-box {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    gap: 19px;
    padding-bottom: 48px;
  }
  .product:last-of-type {
    display: none;
  }
}
@media (max-width: 767px) {
  .catalog-box {
    display: grid;
    grid-template-columns: repeat(1, 360px);
    justify-content: center;
    gap: 19px;
    padding-bottom: 48px;
  }
  .registration-icon {
    display: none;
  }
  .shopping_cart-icon {
    display: none;
  }
}
summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.filter-sort {
  height: 132px;
  position: relative;
  display: flex;
  gap: 30px;
  padding-top: 39px;
  box-sizing: border-box;
}

.filter {
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  padding-top: 13px;
}
.filter__content {
  background-color: #ffffff;
  padding-top: 0;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}
.filter[open] {
  background-color: #ffffff;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.2117647059);
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__heading {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.filter__item {
  margin-top: 16px;
}
.filter__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #5D5D5D;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px #EBEBEB #5D5D5D;
  border-left: 5px solid #F16D7F;
}
.filter__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #6F6E6E;
}
.filter__link:hover {
  color: #F16D7F;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-bottom: 24px;
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

.filter__item[open] .filter__title {
  color: #F16D7F;
}

.sort {
  display: flex;
  gap: 18px;
  padding-top: 12px;
}
.sort__details {
  position: relative;
  z-index: 1;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__heading {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #5D5D5D;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #5D5D5D;
  background-color: #ffffff;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.2117647059);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 1024px) {
  .filter-sort {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .filter {
    position: absolute;
  }
  .filter[open] {
    top: 67px;
  }
  .filter__summary {
    padding-left: 6px;
  }
  .filter-sort {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .filter__heading {
    display: none;
  }
  .filter__svg {
    width: 30px;
    height: 25px;
  }
  .sort__heading {
    font-size: 12px;
  }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shopping-cart {
  background-color: white;
  padding-top: 96px;
  padding-bottom: 128px;
  display: flex;
  justify-content: center;
  gap: 128px;
}
.shopping-cart__items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.shopping-cart__product {
  border: 1px solid #EAEAEA;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.1294117647);
  display: flex;
  justify-content: space-between;
  width: 652px;
}
.shopping-cart__image {
  width: 262px;
}
.shopping-cart__description {
  max-width: 262px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.shopping-cart__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 42px;
}
.shopping-cart__param {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #5D5D5D;
  margin-bottom: 6px;
}
.shopping-cart__price {
  color: #F16D7F;
  padding-left: 6px;
}
.shopping-cart__quantity {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #5D5D5D;
}
.shopping-cart__number {
  text-align: center;
  width: 30px;
  height: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-align: left;
  color: #5D5D5D;
  padding-left: 16px;
}
.shopping-cart__x {
  margin-top: 22px;
  margin-right: 22px;
  margin-left: 86px;
}
.shopping-cart__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}
.shopping-cart__button {
  padding: 16px 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
}
.shopping-cart__button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.shopping-forms {
  display: flex;
  flex-direction: column;
  gap: 57px;
}
.shopping-forms__form {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.shopping-forms__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.shopping-forms__adress {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 17px;
  padding-right: 17px;
}
.shopping-forms__button {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
}
.shopping-forms__button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.total-form {
  width: 360px;
  background-color: #F5F3F3;
  padding-top: 39px;
  padding-bottom: 42px;
}
.total-form__text {
  margin-bottom: 12px;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: right;
  color: #5D5D5D;
}
.total-form__text_span {
  margin-right: 34px;
  padding-left: 30px;
}
.total-form__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right;
  color: #5D5D5D;
}
.total-form__title_span {
  margin-right: 37px;
  padding-left: 30px;
  font-weight: 700;
  color: #F16D7F;
}
.total-form__svg {
  margin-left: 43px;
  margin-right: 43px;
  margin-top: 21px;
}
.total-form__button {
  width: 275px;
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  margin-left: 43px;
  margin-right: 43px;
  margin-top: 17px;
}
.total-form__button:hover {
  filter: brightness(70%);
}

ul {
  list-style-type: none;
}

.breadcrumbs {
  display: flex;
  align-items: center;
}
.breadcrumbs__li:not(:last-child)::after {
  content: "/";
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 300;
  padding: 0px 8px;
}
.breadcrumbs__li:last-child {
  font-weight: bold;
}
.breadcrumbs__link {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #636363;
}
.breadcrumbs__link_site {
  color: #F16D7F;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 96px;
}
.pagination__box {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 284px;
  border: 1px solid #EBEBEB;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pagination__link {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  color: #EBEBEB;
}
.pagination__link_arrow {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
}
.pagination__link_active {
  color: #F16D7F;
}
.pagination__li:hover .pagination__link {
  color: #F16D7F;
}

.registration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding-top: 64px;
  padding-bottom: 96px;
}
.registration__form {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.registration__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.registration__paragraph {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
.registration__radio-box {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.registration__radiobuttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.registration__radio-name {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: left;
  color: #5D5D5D;
}
.registration__text {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #B1B1B1;
}
.registration__button {
  width: 167px;
  padding: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
}
.registration__button:hover {
  filter: brightness(70%);
}
.registration__button-svg {
  margin-left: 20px;
}

.loyalty-program {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 652px;
  box-sizing: border-box;
}
.loyalty-program__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #000000;
}
.loyalty-program__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #000000;
}
.loyalty-program__list-item {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #000000;
}
.loyalty-program__list-item::before {
  content: url(img/vector_list.svg);
  margin-right: 22px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top {
  background-color: #F1E4E6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding-left: calc(50% - 573px);
  padding-right: calc(50% - 573px);
}
.top__image {
  max-width: 664px;
}

.brand {
  padding-left: 10px;
  width: 405px;
  height: 93px;
  border-left: 12px solid #F16D7F;
  gap: 16px;
  box-sizing: border-box;
}
.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #222222;
}
.brand__lux {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Lato;
  color: #222222;
}
.brand h2 span {
  color: #F16D7F;
}

.offer {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 96px;
}
.offer__item {
  position: relative;
}
.offer__text {
  position: absolute;
  width: 360px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 1%;
}
.offer__offer {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}
.offer__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #F16D7F;
}
.offer__item_big {
  position: relative;
}
.offer__text_big {
  position: absolute;
  bottom: 1%;
  width: 1142px;
  height: 180px;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-column: span 3;
}
.offer__offer_big {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FFFFFF;
}
.offer__title_big {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #F16D7F;
}
.offer__image {
  opacity: 86%;
  filter: brightness(30%);
}
.offer__image_big {
  display: grid;
  justify-content: center;
  grid-column: span 3;
  filter: brightness(30%);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding-bottom: 48px;
}
.content__title {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content__title_text {
  color: #9F9F9F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.item__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
}
.item__title {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.item__add_to_cart {
  position: absolute;
  top: 188px;
  right: 110px;
  filter: opacity(0);
}
.item__text {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.item__price {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.item:hover .item__image {
  filter: opacity(86%) brightness(20%);
}

.item:hover .item__add_to_cart {
  filter: opacity(86%);
}

.browse_button {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 39px;
  padding-right: 39px;
  border-color: #F16D7F;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.browse_button:hover {
  color: white;
  background-color: #F16D7F;
}

.info_section {
  padding-top: 103px;
  padding-bottom: 104px;
  padding-left: calc(50% - 573px);
  padding-right: calc(50% - 573px);
  background-color: #222224;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.info_article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info_heading {
  padding-top: 28px;
  padding-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #FBFBFB;
}
.info_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #FBFBFB;
}

@media (max-width: 1024px) {
  html {
    overflow-x: hidden;
  }
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .top__image {
    width: 50vw;
  }
  .brand__title {
    font-size: 44px;
  }
  .brand__lux {
    font-size: 24px;
  }
  .offer {
    display: grid;
    grid-template-columns: repeat(3, 232px);
    gap: 20px;
    justify-content: center;
  }
  .offer__image {
    width: 232px;
  }
  .offer__text {
    width: 232px;
    height: 167px;
  }
  .offer__item_big {
    width: 736px;
    display: grid;
    grid-column: span 3;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .offer__image_big {
    width: 736px;
  }
  .offer__text_big {
    width: 736px;
    height: 116px;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    gap: 19px;
  }
  .info_section {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .info_text {
    width: 360px;
  }
  .subscribe_section {
    background-image: url(img/photo_subscribe.svg);
    padding-top: 0;
    padding-bottom: 0;
    height: 448px;
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
  .footer {
    padding-left: calc(50% - 376px);
    padding-right: calc(50% - 376px);
    justify-content: space-between;
    gap: 0;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 182px);
    padding-right: calc(50% - 182px);
  }
  .registration-icon {
    display: none;
  }
  .shopping_cart-icon {
    display: none;
  }
  .top {
    height: 363px;
    justify-content: center;
  }
  .top__image {
    display: none;
  }
  .brand {
    box-sizing: border-box;
    width: 263px;
    height: 66px;
  }
  .brand__text {
    width: 263px;
    height: 66px;
  }
  .brand__title {
    font-size: 38px;
    line-height: 38px;
  }
  .brand__lux {
    font-size: 20px;
    line-height: 24px;
  }
  .offer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }
  .offer__image {
    width: 343px;
  }
  .offer__text {
    height: 247px;
    width: 343px;
  }
  .offer__item_big {
    width: 343px;
    height: 111px;
    background-image: url(img/offer4.svg);
  }
  .offer__image_big {
    display: none;
  }
  .offer__text_big {
    width: 343px;
    height: 111px;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(1, 360px);
    gap: 19px;
  }
  .info_text {
    width: 350px;
  }
  .subscribe_text {
    font-size: 19px;
  }
  .subscribe_heading {
    font-size: 14px;
  }
  .input {
    padding-right: 64px;
  }
  .footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    padding-top: 43px;
    padding-bottom: 9px;
  }
}/*# sourceMappingURL=style.css.map */