@import 'vars';

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body{
    font-family: 'Lato', sans-serif;
}

.header{
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
    background-color: #222;
    padding-top: 18px;
    padding-bottom: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container_search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 41px;
    margin-left: 16px;
}

.container_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33px;
    margin-right: 16px;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 33px;
    height: 24px;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #E8E8E8;
}

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #E8E8E8;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.menu-list {
    top: 78px;
    right: 0;
    position: absolute;
    padding: 42px 0;
    margin: 0;
    background: #FFFFFF;
    list-style-type: none;
    transform: translateY(-110%);
    transition: .8s;
    width: 232px;
    display: grid;

    
}

.menu-item {
    display: block;
    padding-bottom: 11px;
    padding-top: 11px;
    padding-left: 54px;
    color: #6F6E6E;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 400;
    text-align: start;
    text-decoration: none;
}

.menu-item:hover {
    background: rgba(255,255,255,.2)
}

.burger-checkbox:checked ~ .menu-list {
    transition: .8s;
    transform: translateY(0);
}

.menu_title{
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    padding-top: 32px;
    padding-left: 33px;
    padding-bottom: 14px;
}

.menu_heading{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: $colorSelectSite;
    padding-left: 33px;
    padding-bottom: 10px;
    padding-top: 10px;;
}

.basket_full{
    position: relative;
}

.basket_full::after{
    position: absolute;
    top: -10px;
    right: -9px;
    padding-bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 50%;
    content: '5';
    text-size-adjust: 8px;
    width: 18px;
    height: 18px;
    background-color: $colorSelectSite;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;    
}

.top{
    background-color: #F1E4E6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);

    &_image{
        max-width: 664px;
}

}


.brand_title{
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #222222;
}

.lux{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Lato;
    color: #222222;
}

h2 span{
    color: $colorSelectSite;
}

.brand{
    height: 93px;
    gap: 16px;

    &_text{
        padding-left: 28px;
        width: 380px;
    }
}

.rectangle{
    position: absolute;
}

.offer{
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;
    padding-top: 65px;
    padding-bottom: 96px;

    &_item{
        position: relative;
    }

    &_text{
        position: absolute;
        width: 360px;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 1%; 
    }

    &_offer{
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
    }

    &_title{
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
        color: $colorSelectSite;
    }

    &_item_big{
        position: relative;
    }

    &_text_big{
        position: absolute;
        bottom: 1%;
        width: 1142px;
        height: 180px;
        display: grid;
        justify-content: center;
        align-content: center;
        align-items: center;
        grid-column: span 3;
    }

    &_offer_big{
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: #FFFFFF;
    }
    
    &_title_big{
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        color: $colorSelectSite;
    }

}


.image{
    opacity: 86%;
    filter: brightness(30%);

    .image_big{
        display: grid;
        justify-content: center;
        grid-column: span 3;
        filter: brightness(30%);
    }
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding-bottom: 48px;
}

.title{
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &_text{
        color: #9F9F9F;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    &_content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 16px;
        padding-right: 16px;
    
    }
    
    &_title{
        color: #000;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.add_to_cart{
    position: absolute;
    top: 188px;
    right: 110px;
    filter: opacity(0);
}

.text{
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.price{
    color: $colorSelectSite;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item:hover .item_image{
    filter: opacity(86%)
    brightness(20%)
}

.item:hover .add_to_cart{
    filter: opacity(86%)
}

.browse_button{
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 39px;
    padding-right: 39px;
    border-color: $colorSelectSite;
    color: $colorSelectSite;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.browse_button:hover{
    color: white;
    background-color: $colorSelectSite;
}

.info_section{
    padding-top: 103px;
    padding-bottom: 104px;
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
    background-color: #222224;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.info_article{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.info_heading{
    padding-top: 28px;
    padding-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FBFBFB;
}

.info_text{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #FBFBFB;
}

.subscribe_section{
    background-image: url(img/photo_subscribe.svg);
    padding-top: 97px;
    padding-bottom: 126px;
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 223px;
}

.subscribe_text{
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #222224;
    width: 360px;
}

.subscribe_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.subscribe_fulltext{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe_title{
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #222224;
}

.subscribe_heading{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #222224;
}

.subscribe_action{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input{
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 22px;
    padding-right: 84px;
    background: transparent url(img/Rounded_Rectangle.svg);
    border: none;
}

.subscribe_button{
    background: transparent url(img/button_rectangle.svg);
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 18px;
    padding-right: 19px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}

.subscribe_button:hover{
    filter: brightness(70%);
}

.footer{
    background: #222224;
    padding-top: 24px;
    padding-bottom: 23px;
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 600px;
}

.copyright{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #FBFBFB;
}

.social_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.social_link:hover path{
    stroke: white;
    fill: $colorSelectSite;
}



@media (max-width: 1024px){

    .header{
        padding-left: 16px;
        padding-right: 16px;
    }

    .top{
        display: flex;
        justify-content: center;
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .top_image{
        max-width: 386px;
    }

    .brand{
        max-width: 311px;
    }

    .brand_title{
        font-size: 44px;
        font-weight: 900;
        line-height: 53px;
        letter-spacing: 0em;
        text-align: left;
    }

    .lux{
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }

    .offer{
        display: grid;
        grid-template-columns: repeat(3, 232px);
        gap: 19px;
        justify-content: center;
        padding-top: 65px;
        padding-bottom: 96px;
    }

    .image{
        width: 232px;
    }

    .offer_text{
        width: 232px;
        height: 167px;
    }

    .image_big{
        width: 734px;
    }

    .offer_text_big{
        width: 734px;
        height: 116px;
    }

    .items{
        display: grid;
        grid-template-columns: repeat(2, 360px);
        gap: 19px;
    }

    .item_image{
        max-width: 360px;
    }

    .info_section{
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .info_article{
        width: 360px;
    }

    .subscribe_section{
        background-image: url(img/photo_subscribe.svg);
        padding-top: 0;
        padding-bottom: 0;
        height: 448px;
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    .footer{
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
        justify-content: space-between;
        gap: 0;
    }

    @media (max-width: 767px){

        .header{
            max-width: 767px;

        }

        .person{
            display: none;
        }

        .basket_full{
            display: none;
        }

        .top{
            height: 363px;
        }

        .top_image{
            display: none;
        }

        .brand{
            margin-bottom: 150px;
            margin-top: 150px;
        }

        .brand_title{
            font-size: 38px;
            font-weight: 900;
            line-height: 46px;
        }

        .lux{
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
        }

        .rectangle{
            height: 80px;
        }

        .offer{
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            gap: 19px;
            padding-top: 65px;
            padding-bottom: 96px;
        }
    
        .image{
            width: 343px;
        }

        .offer_text{
            height: 247px;
            width: 343px;
        }
    
        .image_big{
            width: 343px;
            height: 111px;
        }

        .offer_text_big{
            width: 343px;
            height: 111px;
        }

        .content{
            margin-left: 9px;
            margin-right: 9px;
        }

        .items{
            display: grid;
            grid-template-columns: repeat(1, 359px);
            gap: 19px;
        }

        .item_title{
            margin-left: 9px;
        }

        .text{
            margin-left: 9px;
        }

        .price{
            margin-left: 9px;
        }

        .subscribe_section{
            max-width: 767;
            height: 550px;
            background-image: url(img/photo_subscribe2.svg);
        }

        .subscribe_text{
            width: auto;
            max-width: 360px;
        }

        .subscribe_heading{
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: center;
        }

        .input{
            padding-right: 0;
        }

        .footer{
            display: flex;
            flex-direction: column-reverse;
            gap: 40px;
            padding-top: 43px;
            padding-bottom: 9px;
        }
    }
}