@import 'vars';
@import 'mixins';
@import 'footerStyle';
@import 'headerStyle';
@import 'mediaStyle';
@import 'catalog_style';

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body{
    font-family: 'Lato', sans-serif;
}

.top{
    background-color: #F1E4E6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);

    &__image{
        max-width: 664px;
    }
}

.brand{
    padding-left: 10px;
    width: 405px;
    height: 93px;
    border-left: 12px solid $colorSelectSite;
    gap: 16px;
    box-sizing: border-box;
    &__title{
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #222222;
    }
    &__lux{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Lato;
    color: #222222;
    }
    h2 span{
    color: $colorSelectSite;
    }
}

.offer{
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    justify-content: center;
    padding-top: 65px;
    padding-bottom: 96px;
    &__item{
        position: relative;
    }
    &__text{
        position: absolute;
        width: 360px;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        bottom: 1%; 
    }
    &__offer{
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
    }
    &__title{
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: center;
        color: $colorSelectSite;
    }
    &__item_big{
        position: relative;
    }
    &__text_big{
        position: absolute;
        bottom: 1%;
        width: 1142px;
        height: 180px;
        display: grid;
        justify-content: center;
        align-content: center;
        align-items: center;
        grid-column: span 3;
    }
    &__offer_big{
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: #FFFFFF;
    }
    &__title_big{
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        color: $colorSelectSite;
    }
    &__image{
        opacity: 86%;
        filter: brightness(30%);
    }
    &__image_big{
        display: grid;
        justify-content: center;
        grid-column: span 3;
        filter: brightness(30%);
    }  
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding-bottom: 48px;
    }
    &__title{
        color: #222;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__title_text{
        color: #9F9F9F;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    &__content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 16px;
        padding-right: 16px;
    
    }
    &__title{
        color: #000;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__add_to_cart{
    position: absolute;
    top: 188px;
    right: 110px;
    filter: opacity(0);
    }
    &__text{
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    }
    &__price{
        color: $colorSelectSite;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.item:hover .item__image{
    filter: opacity(86%)
    brightness(20%)
}

.item:hover .item__add_to_cart{
    filter: opacity(86%)
}

.item__add_to_cart:hover .item__add_to_cart{
    fill: $colorSelectSite;
}

.browse_button{
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 39px;
    padding-right: 39px;
    border-color: $colorSelectSite;
    color: $colorSelectSite;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.browse_button:hover{
    color: white;
    background-color: $colorSelectSite;
}

.info{
    &_section{
        padding-top: 103px;
        padding-bottom: 104px;
        padding-left: calc(50% - 573px);
        padding-right: calc(50% - 573px);
        background-color: #222224;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    &_article{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    &_heading{
        padding-top: 28px;
        padding-bottom: 16px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #FBFBFB;
    }

    &_text{
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
        color: #FBFBFB;
    }
}
